@CHARSET "UTF-8";
body {	font-family: D2Coding; text-align: center;	}
table { border: 1px solid #00FF7F; width: 100%; 
         }
tr { height: 30px; background: #40E0D0; }
/* th {	background: #C9BFED;	} */
th {	background: #7FFFD4;	}
td {	background: #E0FFFF;	}